.footer {
  width: 100%;
  display: grid;
  justify-content: space-between;

  padding: 79px 70px 20px;
  grid-template-areas:
    "title title"
    "copyright links";
  box-sizing: border-box;
}

.footer__title {
  display: flex;
  justify-content: center;
  min-width: 300px;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #8b8b8b;
  margin: 0 auto;
  padding: 0 0 20px 0;
  grid-area: title;
  border-bottom: 1px #424242 solid;
  }

.footer__links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  grid-area: links;
  padding: 20px 0 0;
}

.footer__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  margin: 0;
}

.footer__copyright {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  grid-area: copyright;
  margin: 0;
  padding: 20px 0 0;
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 768px;
    padding: 79px 30px 20px;
  }
}

@media screen and (max-width: 420px) {
  .footer {
    padding: 79px 10px 20px;
    justify-content: center;
    grid-template-areas:
      "title"
      "links"
      "copyright";
  }

  .footer__title {
    font-size: 12px;
    line-height: 15px;
    padding: 0 0 21px 0;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 30px 0 0;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
    color: #8b8b8b;
    text-align: center;
    padding: 30px 0 0;
  }
}
