.about-me {
  display: flex;
  flex-direction: column;
  padding: 110px 70px 0;
}
.about-me__brief {
  margin: 0;
  padding: 0 0 23px;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px #dadada solid;
}
.about-me__main-info {
  width: 100%;
  display: grid;
  justify-content: space-between;
  margin: 0 auto;
  padding: 66px 0 0;
  column-gap: 50px;
  grid-template-areas:
    "title photo"
    "subtitle photo"
    "paragraph photo"
    "link photo";
  box-sizing: border-box;
}
.about-me__title {
  display: grid;
  max-width: 600px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
  grid-area: title;
}
.about-me__subtitle {
  max-width: 600px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  padding: 18px 0 0 0;
  grid-area: subtitle;
}
.about-me__paragraph {
  max-width: 600px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 26px 0 0 0;
  grid-area: paragraph;
}
.about-me__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
  margin: 0;
  padding: 99px 0 0 0;
  grid-area: link;
}
.about-me__photo {
  grid-area: photo;
}

@media screen and (max-width: 900px) {
  .about-me {
    padding: 90px 50px 0;
  }
  .about-me__title {
    font-size: 40px;
    line-height: 40px;
  }
  .about-me__subtitle {
    font-size: 12px;
    line-height: 18px;
    padding: 16px 0 0 0;
  }
  .about-me__paragraph {
    max-width: 364px;
    font-size: 12px;
    line-height: 18px;
    padding: 20px 0 0 0;
  }
  .about-me__link {
    padding: 87px 0 0 0;
  }
  .about-me__photo {
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 420px) {
  .about-me {
    padding: 70px 14px 0;
  }
  .about-me__main-info {
    justify-content: center;
    padding: 60px 0 0;
    grid-template-areas:
      "photo"
      "title"
      "subtitle"
      "paragraph"
      "link";
    margin: auto;
  }
  .about-me__title {
    font-size: 30px;
    line-height: 37px;
    padding: 40px 0 0;
  }
  .about-me__subtitle {
    font-size: 11px;
    line-height: 16px;
    padding: 20px 0 0 0;
  }
  .about-me__paragraph {
    max-width: 292px;
    font-size: 11px;
    line-height: 16px;
  }
  .about-me__link {
    padding: 40px 0 0 0;
  }
  .about-me__photo {
    max-width: 100%;
    max-height: 100%;
  }
}
